@import 'src/styles/variables';

.icon{
    font-size: 25px;
    transition-duration: 250ms;
    transition-property: transform;
    transition-delay: 0s;
    display:block;
}
.icon:hover{
    transform: scale(2, 2);
}