@import 'src/styles/variables';

.cart-container{
    padding: 0px 200px 0px 100px;
}

.cart-table{
    color: $primary;
    font-size: 1.25em;
    margin-right: 150px;
}

.cart-product, .product-name{
    color: $secondary;
    font-size: 1em;
}

.cart-total{
    color: $secondary;
}

.price{
    width: 50px;
}

.remove{
    font-size: 0.7rem !important;
    margin-left: 20px;
}

.cart-empty{
    padding: 30px 200px 0px 100px;
    font-size: 2em;
}
