
<div class="cart-container" *ngIf="cartService.cart.products.length>0; else empty">
  <table class="table cart-table">
    <thead>
      <tr>
        <th class="text-center" scope="col">#</th>
        <th scope="col">Product Name</th>
        <th class="price" scope="col">Price</th>
      </tr>
    </thead>
    <tbody class='cart-body'>
        <tr class='cart-product' *ngFor="let product of cartService.cart.products; let i = index">
          <th class="text-center" scope="row">{{ i+1 }}.</th>
            <td><a class="product-name" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                <app-add-remove-product class="remove" [product]="product" [removeOnly]=true></app-add-remove-product>
          <td>{{ product.price }}</td>
        </tr>
        <tr>
          <td colspan="2"><div class="float-right mr-30"><b>Subtotal:</b></div></td>
          <td class='cart-total'>{{ cartService.cart.subtotal }}</td>
        </tr>
        <tr>
          <td colspan="2"><div class="float-right mr-30"><b>Total:</b></div></td>
          <td class='cart-total'>{{ cartService.cart.total }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="float-right">
              <a class="btn btn-success" routerLink="/checkout">Checkout</a>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <div class="cart-empty">OOOPSSS ...... Looks like your cart is empty</div>
</ng-template>
