@import 'src/styles/variables';

.auth_loader {
    height: 20px;
    padding-right: 10px;
}

.container{
    padding: 20px 100px 20px 100px;
}

.register-header{
    display: flex;
    margin-bottom: 0px;
}
