<div class="container">
    <div class="login-header">
        <h2 class="float-left my-0">LOGIN</h2>
        <div class="float-right create-account" routerLink="/register" routerLinkActive="active">
            Create Account
        </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input formControlName="login" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.login.errors }" type="email" required
            placeholder="Official Email">
        <input formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" required
            placeholder="Password">
        <div class="my-1">
            <input type="checkbox" formControlName="keep_logged_in">
            <span class="sub-title"> Keep me logged in</span>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">
            <span *ngIf="isLoggingIn"><img class="auth_loader" src="./assets/gifs/loader2.gif"></span>
            <span>Login</span>
        </button>
    </form>
    <div class="mt-20 text-right secondary">
        <span class="warning">Forgot password?</span>
        <p *ngIf="submitted && loginForm.invalid" class="color-error animated slideInUp">Invalid details!</p>
    </div>
</div>