<div class="container">
    <div>
        <h2 class="pull-left">LOGIN</h2>
        <div class="info-1 pull-right info pointer"><span class="sub-title">or
            </span>create account</div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input formControlName="login" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.login.errors }" type="email" required
            placeholder="Official Email">
        <input formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" required
            placeholder="Password">
        <div class="text-center">
            <input class="privacy-policy" type="checkbox">
            <span class="sub-title">Keep me logged in
            </span>
        </div>
        <button class="width-100 mt-20" type="submit" nz-button nzType="primary">
            <span *ngIf="isLoggingIn"><img class="auth_loader" src="./assets/images/loader2.gif"></span>
            <span>Login</span>
        </button>
    </form>
    <div class="mt-20 text-center">
        <span class="info-1 warning pointer">Forgot password?</span>
        <p *ngIf="submitted && loginForm.invalid" class="color-error animated slideInUp">Invalid details!</p>
    </div>
</div>