<div class="container product-detail">
<div class="row ml-4">
    <div class="col-12 col-md-6">
        <div class="info-2-5">{{ productDetails.title }} </div><br>
        <div class="secondary info-1-5">
            <div>{{ productDetails.description }}</div>
            <div>{{ productDetails.price }}</div>
            <app-add-remove-product [product]="productDetails"></app-add-remove-product>
        </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="productDetails.image">
        <img src='{{ productDetails.image.url }}' class='img-fluid h-75 max-width:10%;' />
    </div>
</div>
</div>
